<section id="home">
    <h1>ASSALOMU ALAYKUM</h1>
    <h2>Education Math ga xush kelibsiz.</h2>
    <p>BIZNING PLATFORMADA NAFAQAT VIDEO-DARSLIKLAR...</p>
    <img src="/public/image/math.gif" alt="Example GIF">
</section>